
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	float:left;
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 800px;
	height:300px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:780px;
  margin: 10px;
}

/** h3 title tags */
.items div h3 {
  margin: 0;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	padding:2px;
	width:100px;
	height:75px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background: transparent url(../images/scrollable/hori_large.png) no-repeat;
	display:block; position: relative; top: 110px;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; }


/* left */
a.left				{ margin-left: 0px; }
a.left:hover  		{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }


/**
 * jQuery ui overrides
 */
.ui-widget .ui-widget-header {
  position: relative;
  padding-left: .9em;
  padding-bottom: .3em;
}

.ui-widget .ui-widget-header .ui-icon {
  left: 0;
  position:absolute;
  top:22%;
}

