
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	float:left;
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 800px;
	height:300px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:780px;
  margin: 10px;
}

/** h3 title tags */
.items div h3 {
  margin: 0;
}

/* single scrollable item */
.scrollable img {
	float:left;
	padding:20px;
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

/**
 * jQuery ui overrides
 */
.ui-widget .ui-widget-header {
  position: relative;
  padding-left: .9em;
  padding-bottom: .3em;
}

.ui-widget .ui-widget-header .ui-icon {
  left: 0;
  position:absolute;
  top:22%;
}

