/* root element for scrollable */
.vertical {

	/* required settings */
	position:relative;
	overflow:hidden;
	height: 300px;
}

/* root element for scrollable items */
.items {
	position:absolute;
	/* this time we have very large space for height */
	height:20000em;
	margin: 0px;
}

/* single scrollable item */
.item {padding:15px;	font-size:12px; height: 300px}

/* elements inside single item */
.item img { float:left;	margin-right:20px; }

.item h3 {  }
.item p { margin: 0;}
/* the action buttons above the scrollable */
#actions {
  padding-bottom: 5px;
}

#actions a {
	font-size:11px;
	cursor:pointer;
	color:#666;
}

#actions a:hover {
	text-decoration:underline;
	color:#000;
}

.disabled {
	visibility:hidden;
}

.next {
	float:right;
}

/**
 * jQuery ui overrides
 */
.ui-widget .ui-widget-header {
  position: relative;
  padding-left: .9em;
  padding-bottom: .3em;
}

.ui-widget .ui-widget-header .ui-icon {
  left: 0;
  position:absolute;
  top:22%;
}

